extends layout


<!-- Modal -->
block header

block content  
  body(background="/images/bg.jpg") 
  
  div.jumbotron
    div.container                
      h1= title
      p By Miran Mirza
      BR
      div.col-lg
        form(method="post", action="/login")
          div.input-group
            input.form-control#query(type="text" name = "input" placeholder = "Enter your full name here")
            span.input-group-btn
              button.btn.btn-default(type="submit") Login
